@{
    ViewData["Title"] = "Home Available Page";
     Layout = "_Layout";
}


 
<div class="container">
  <img src="~/Images/Lake_Placid_Trans.png" alt="Lake Placid Banner" width="100%" border="0" style="margin:0px; padding:0px;">

  <div class="row">
    <div class="col-sm-3 carousel_lp" style="background-color:lightgray">  

 
    </div>
    <div class="col-sm-9 carousel_lp" style="background-color:lightgray">
 
    </div>
 
    
  </div>
 


 


@section Scripts {


<script>
// A $( document ).ready() block.
    $( document ).ready(function() {
       // alert('About Us');
    });
	// Find the body element to set a style attribute

     function foo()
     {
      alert('foo);
     }

</script>    




<script>
 
	// Find the body element to set a style attribute

	//var body = document.getElementsByTagName("body")[0];
  //  body.style.backgroundColor = "#040720";

</script>
}
 