@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Tis ill be the admin page.</p>
<p>Add Homes 4 Sale</p>
<p>Send Email to visitors.</p>
<p>Other admin Tasks.</p>





@section Scripts {
// A $( document ).ready() block.
    $( document ).ready(function() {
       // alert('About Us');
    });
	// Find the body element to set a style attribute

<script>
 
	// Find the body element to set a style attribute

	var body = document.getElementsByTagName("body")[0];
    body.style.backgroundColor = "#040720";

</script>

}