@{
    ViewData["Title"] = "Administration Page";
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<h1>@ViewData["Administration"]</h1>

<p>This is the admin page</p>
 

<table style="width:100%">

    <button type="button" class="editbtn btn btn-primary">Enter Location Data</button>
    <button type="button" class="editbtn btn btn-primary">Add Images</button>
    <button type="button" class="editbtn btn btn-primary">Create Message</button>
    <button type="button" class="editbtn btn btn-primary">Email Real Estate By State</button>
 
</table>

<p>
   <p> <button type="button" class="editbtn btn btn-primary">Enter Location Data</button>  </p>
   <p> <button type="button" class="editbtn btn btn-primary">Add Images</button> </p>
   <p> <button type="button" class="editbtn btn btn-primary">Create Message</button> </p>
   <p> <button type="button" class="editbtn btn btn-primary">Email Real Estate By State</button> </p>
</p>
@section Scripts {
 
 
    <script>
    $( document ).ready(function() {
       

       $('.editbtn').click(function(){
          alert('Admin');
          // $(this).html($(this).html() == 'edit' ? 'modify' : 'edit');
        });
     
    });
 	// Find the body element to set a style attribute
	   var body = document.getElementsByTagName("body")[0];
       body.style.backgroundColor = "#c6deff";
    </script>

}